# Libraries

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("resell_prices.csv")
df.head()

,title,price,size,category,style,brand,ingest_timestamp
0,#49 zimmermann lace off shoulder top,66.0,6,top,NaN,zimmerman,2025-Jan-01-10:50:17
1,* brand new w/ tags* reformation elle knit ski...,55.0,S,skirt,NaN,reformation,2024-Dec-30-23:28:26
2,*hp* reformation ballet maxi dress in tulip pink,90.0,M,dress,NaN,reformation,2025-Jan-01-10:50:12
3,*nwt agua by agua bendita - orquídea frutal az...,75.0,NaN,skirt,NaN,aguaByAguaBendita,2025-Jan-01-10:50:09
4,agua agua bendita sucre cut-out poplin floral ...,95.0,S,dress,NaN,aguaByAguaBendita,2025-Jan-01-10:50:08

In [3]:
print(df.groupby(['brand','category'])['price'].mean().reset_index())

                brand category       price
0   aguaByAguaBendita    dress  416.450000
1   aguaByAguaBendita    skirt  299.297872
2   aguaByAguaBendita      top   44.797101
3                doen    dress  186.373494
4                doen    skirt  158.320000
5                doen      top  115.257143
6          hill_house    dress   84.548387
7          hill_house    skirt   63.627451
8          hill_house      top   33.000000
9         reformation    dress   99.756410
10        reformation    skirt   63.933333
11        reformation      top   44.797101
12          zimmerman    dress  208.767442
13          zimmerman    skirt   25.000000
14          zimmerman      top  235.375000

In [4]:
df[['brand','category']].value_counts()

brand              category
reformation        dress       156
                   top         138
aguaByAguaBendita  top         138
hill_house         dress        93
doen               dress        83
reformation        skirt        75
doen               top          70
hill_house         skirt        51
                   top          50
doen               skirt        50
aguaByAguaBendita  skirt        47
zimmerman          dress        43
aguaByAguaBendita  dress        40
zimmerman          top           8
                   skirt         1
Name: count, dtype: int64