# Libraries

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("resell_prices.csv")
df.head()

,title,price,size,category,style,brand,ingest_timestamp
0,#49 zimmermann lace off shoulder top,66.0,6,top,NaN,zimmerman,2024-Dec-30-17:25:11
1,*nwt agua by agua bendita - orquídea frutal az...,75.0,NaN,skirt,NaN,aguaByAguaBendita,2024-Dec-30-17:25:03
2,agua agua bendita sucre cut-out poplin floral ...,95.0,S,dress,NaN,aguaByAguaBendita,2024-Dec-30-17:25:01
3,agua and aguadilla milato fruit,220.0,XS,skirt,NaN,aguaByAguaBendita,2024-Dec-30-17:25:03
4,agua bendita astro esmeralda lavanda sarong pa...,110.0,One Size,skirt,NaN,aguaByAguaBendita,2024-Dec-30-17:25:03

In [11]:
print(df.groupby(['brand','category'])['price'].mean().reset_index())

                brand category       price
0   aguaByAguaBendita    dress  421.815789
1   aguaByAguaBendita    skirt  299.297872
2   aguaByAguaBendita      top   45.726316
3                doen    dress  183.482759
4                doen    skirt  159.000000
5                doen      top  122.472727
6          hill_house    dress   89.119403
7          hill_house    skirt   65.500000
8          hill_house      top   32.551020
9         reformation    dress   98.788991
10        reformation    skirt   64.388889
11        reformation      top   45.726316
12          zimmerman    dress  208.767442
13          zimmerman    skirt   25.000000
14          zimmerman      top  235.375000

In [12]:
df[['brand','category']].value_counts()

brand              category
reformation        dress       109
                   top          95
aguaByAguaBendita  top          95
hill_house         dress        67
doen               dress        58
                   top          55
reformation        skirt        54
doen               skirt        49
hill_house         top          49
                   skirt        48
aguaByAguaBendita  skirt        47
zimmerman          dress        43
aguaByAguaBendita  dress        38
zimmerman          top           8
                   skirt         1
Name: count, dtype: int64