# Libraries

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("resell_prices.csv")
df.head()

,title,price,size,category,style,ingest_timestamp
0,#49 zimmermann lace off shoulder top,66.0,6,skirt,NaN,2024-Dec-29-22:32:23
1,*nwt agua by agua bendita - orquídea frutal az...,75.0,NaN,skirt,NaN,2024-Dec-29-22:29:10
2,agua agua bendita sucre cut-out poplin floral ...,95.0,S,skirt,NaN,2024-Dec-29-22:29:08
3,agua and aguadilla milato fruit,220.0,XS,skirt,NaN,2024-Dec-29-22:29:10
4,agua bendita astro esmeralda lavanda sarong pa...,110.0,One Size,skirt,NaN,2024-Dec-29-22:29:10